.main-container {
  width: 60%;
  height: 100vh;
  margin-left: 50%;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.main-section {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  scroll-snap-align: center; /* Smooth scroll için */
}
/* Her section için margin ayarları */
#about {
  margin-top: 4vh;
}

#skills {
  margin-top: 8vh;
}

#experiences {
  margin-top: 10vh;
}

#projects {
  margin-top: 5vh;
}

/* 💻 Laptop - 1200px ve altı */
@media (max-width: 1200px) {
  #skills {
    margin-top: 6vh;
  }

  #experiences {
    margin-top: 25vh;
  }

  #projects {
    margin-top: 32vh;
  }
}

/* 📱 Tablet - 992px ve altı */
@media (max-width: 992px) {
  .main-container {
    width: 100%;
    height: 100vh;
    padding: 0;
  }

  .main-section {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #skills {
    margin-top: 3vh;
  }

  #experiences {
    margin-top: 35vh;
  }

  #projects {
    margin-top: 10vh;
  }
}

/* 📱 Büyük Telefon - 768px ve altı */
@media (max-width: 768px) {
  #experiences {
    margin-top: 33vh;
  }

  #projects {
    margin-top: 13vh;
  }
}

/* 📱 Küçük Telefon - 576px ve altı */
@media (max-width: 576px) {
  #skills {
    margin-top: 3vh;
  }

  #experiences {
    margin-top: 31vh;
  }

  #projects {
    margin-top: 17vh;
  }
}
